body {
	background:#ccffff;
}

h1 {
	display: block;
	padding: 7%;
	font-size: 5em;
	font-weight: bold;
	font: Georgia;
	border: 7px dotted black;
	text-shadow: gray 10px 10px;
}

h2 {
	margin: 50px;

}

#post {
	font-weight: bold;
	font-size: 3em;
}

#guitar {
	z-index: -1;
	top: 60px;
	left: 620px;
	position: absolute;

}

.footer {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	position: fixed;
	text-align: center;
	width: 100%;
	font-size: 1.7em;
}