body {
	background:#ccffff;
}

h1 {
	padding: 5%;
	font-size: 4em;
	font-weight: bold;
	font: Georgia;
	border: 7px solid blue;
}

h2 {
	margin: 50px;

}

#post {
	font-weight: bold;
	font-size: 3em;
}

#guitar {
	z-index: -1;
	top: 40px;
	left: 600px;
	position: absolute;

}